/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Header-section */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 32px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(216, 177, 252);
  margin-bottom: 50px;
  padding: 50px;
  border-radius: 6px;
}

.brand-img {
  width: 200px;
}

.nav a {
  color: rgb(156, 107, 202);
  text-decoration: none;
  margin-left: 10px;
  padding: 20px;
}

/* Article-section */
.box {
  border: 6px solid blueviolet;
  border-radius: 6px;
}
.article-header {
  color: rgb(156, 107, 202);
  font-size: 44px;
  padding-left: 40px;
  padding-top: 50px;
}
.article-header h1 {
  display: inline-block;
  text-decoration: underline;
}
.article-blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 34px;
}
.article-blog p {
  padding-top: 30px;
  line-height: 1.5;
  font-size: 16px;
}

.article-blog img {
  width: 50%;
  margin-right: 20px;
}

/*Gallery-section*/
.box-1 {
  border: 6px solid blueviolet;
  border-radius: 6px;
  margin-top: 40px;
}
.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gallery-header {
  color: rgb(156, 107, 202);
  text-decoration: underline;
  padding-top: 20px;
  padding-left: 30px;
  text-transform: capitalize;
  font-size: 34px;
}

.pic-size {
  margin: 30px;
  width: 300px;
  height: 200px;
}

/*Footer-section*/

.footer {
  color: rgb(156, 107, 202);
  padding: 40px;
  background-color: rgb(216, 177, 252);
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  border-radius: 6px;
}
.social-nav a {
  color: rgb(156, 107, 202);
  font-size: 20px;
  padding-left: 20px;
}
